<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
     Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">



    <div>

      <h1>Cadastro</h1>
          <input type="text" placeholder="Nome">
        <br><br>

          <input type="text" placeholder="Descrição">
        <br><br>
        <input type="text" placeholder="Validade">
      <br><br>

          <input type="number" placeholder="Preço">
        <br><br>

        <ion-button color="secondary" routerLink="/tabs/tab1">
          Voltar
        </ion-button>
    </div>



</ion-content>
