<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
     Página Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">


    <div>
        <h1 routerLink="/registro">Login</h1>
          <input type="text" placeholder="Email">
        <br>Registrar<br>

     <input type="password" placeholder="Senha">
<br><br>
<ion-button color="secondary">Entrar </ion-button>
          <ion-button color="secondary" routerLink="/registro" >Registrar</ion-button>
<br><br>
<ion-button color="secondary">Esqueceu a senha?</ion-button>


  </div>



</ion-content>
