<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" [src]="fileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">

    </ion-buttons>
    <ion-title>FormsApp</ion-title>
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true">

  <body>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Olá!</ion-card-title>

      </ion-card-header>

      <ion-card-content>
        Para se cadastrar no Login e Registro, basta apertar nos botões abaixo!
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" routerLink="/login" >Login</ion-button>
    <ion-button expand="full" routerLink="/registro">Registro</ion-button>



      </body>


    </ion-content>
