<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" [src]="fileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">

    </ion-buttons>
    <ion-title>FormsApp</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <body>

<ion-button color="secondary" routerLink="/login">Login</ion-button>
<ion-button color="secondary" routerLink="/registro">Registrar</ion-button>


      </body>


    </ion-content>
